header{
  background-color: #1ba6cd;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 25px;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: 0px 5px 19px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 19px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 19px 1px rgba(0,0,0,0.75);
}

.beer{
  list-style-type: none;
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
}
.beer:hover{
  -webkit-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
}

ul{
  max-width: 800px;
  padding: 0;
  margin: 10px auto;
}

img{
  height: 150px;
}

.beer-image{
  width: 20%;
  display: flex;
  justify-content: center;
}

.beer-info{
  margin-left: 15px;
  list-style-type: none;
}.beer-name{
  font-weight: bold;
}